$line: 20px;
$column: (100%/6);

/*general*/

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: $line;
}

body {
  background: url(../images/bgouf.jpg) no-repeat center center fixed;
  background-size: cover;
}

.page img {
  border-radius: 0;
  box-shadow: none;
}

// Site Header

.screen-reader-text {
  display: none;
}

.menu-toggle {
  display: none;
}

#masthead {

  .site-title {
    background: url(../images/banner2.jpg) no-repeat;
    background-size: cover;
  }

  h1 {
    width: 100%;
    height: 180px;
    margin: auto;
  }
}

nav ul {
  margin-left: $column;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0;
  width: 4*$column;
  list-style-type: none;

  li {
    display: table-cell;
    padding-bottom: 3px;
    padding-right: 0.5*$line;
    padding-left: 0.5*$line;
    padding-top: 3px;
    margin-right: 5px;
  }
}

// Site Content zone

.site-content {
  border-radius: 0.5*$line;
}

#main {
  #main-content {
    width: 5*$column;
    max-width: 5*$column;
    float: right;
    border-top-left-radius: .5*$line;
    border-bottom-left-radius: .5*$line;

    #content-sidebar {
      width: 2*$column;
      max-width: 2*$column;
      padding-left: 2*$line;
      float: right;
    }

    .entry-content {
      padding-right: $line;
      padding-left: $line;
      margin-bottom: 2*$line;

      article {
        padding-bottom: 2*$line;
      }
    }
  }

  img {
    margin-left: .5*$line;
    margin-right: $line;
    margin-bottom: $line/4;
    border-radius: 10px;
  }

  #primary {
    width: 4*$column;
    max-width: 4*$column;
    float: left;
    article {
      header {
        margin-top: 2*$line;
        margin-bottom: 2*$line;
        text-align: center;
      }
      &:after {
        content: " ";
        display: block;
        position: relative;
        width: 175px;
        height: 1.1*$line;
        background-image: url(../images/aurora2.png);
        margin: auto;
      }
    }
  }
}

#secondary {
  width: $column;
  max-width: $column;
  float: left;
}

/* Comments */
#comments {
  margin-left: $line;
}

// Site Footer
#colophon {
  clear: both;
}

#main {
  max-width: 6*$column;
  margin: auto;
}

.entry-meta {
  margin: auto
}

#primary-sidebar {
  float: left;
}

