$line:20px;
$column: (100%/6);
$break-normal: 1600px;

* {
  box-sizing: border-box;
}

// Site Header
#masthead {
  h1.site-title {
    width: 100%;
    height: 180px;
    margin: auto;
  }
}

nav ul {
  margin-left: $column;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0;
  width: 4*$column;
  list-style-type: none;

  li {
    display: table-cell;
    padding-bottom: 3px;
    padding-right: 0.5*$line;
    padding-left: 0.5*$line;
    padding-top: 3px;
    margin-right: 5px;
  }
}

// Site Content zone
#main {
  #main-content {
    width: 5*$column;
    max-width: 5*$column;
    float: right;

    #primary {
      width: 4*$column;
      max-width: 4*$column;
      float:left;
    }

    #content-sidebar {
      width: 2*$column;
      max-width: 2*$column;
      padding-left: 2*$line;
      float:right;
    }
  }

  #secondary {
    width: $column;
    max-width: $column;
    float: left;
  }
}

// Site Footer
#colophon {
  clear: both;
}

#main {
  max-width: 6*$column;
  margin: auto;
}

.entry-meta {
  margin-left: 2*$column;
  margin-right: 1.5*$column;
}

#primary-sidebar {
  float: left;
}

