@import "layout";

/* Général */

body {
  font-family: 'Lato', sans-serif;
  font-size: $line;
}

a {
  text-decoration: none;
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
}

/*Header*/

#masthead {

  .site-title a {
    display: block;
    padding-left: 0.5*$line;
    padding-top: 3*$line;
    font-size: 2.8*$line;
  }

}

/*Nav*/

nav {
  ul li {
    a {
      font-size: 1.5*$line;
    }
  }
}

/*main*/

article header h1 {
  font-size: 2*$line;
  font-weight: 700;
  display: inline;
}

.entry-meta a {
  font-size: 0.75*$line;
}

/* Comments */

/*asides*/
